<mat-toolbar color="primary">
  <section class="wrapper">
    <nav class="nav-main left">
      <ul>
        <li>
          <a routerLink="/auth/login" title="Login">
            <i class="fas fa-user-lock"></i>
          </a>
        </li>
        <li>
          <a routerLink="/auth/register" title="Register">
            <i class="fas fa-user-plus"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="site-branding">
      <a routerLink="/">FooTR</a>
    </div>
    <button id="toggle" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <nav class="nav-main right">
      <ul>
        <li>
          <a routerLink="/" title="Shopping bag">
            <i class="fas fa-shopping-basket"></i>
          </a>
        </li>
        <li>
          <a routerLink="/create" title="Create product">
            <i class="fas fa-plus-circle"></i>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</mat-toolbar>
